@use "../abstracts/" as *;

.play-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 130px;
  width: -webkit-fill-available;
  aspect-ratio: 1/1;
  border: $chip-border;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  // transition: all 0.3s ease;

  // &:hover {
  //   background-color: #f0f0f0;
  // }

  &[aria-label="rock"] {
    border-color: $chip-border-color-rock;
    box-shadow: $chip-box-shadow-rock;
  }

  &[aria-label="paper"] {
    border-color: $chip-border-color-paper;
    box-shadow: $chip-box-shadow-paper;
  }

  &[aria-label="scissors"] {
    border-color: $chip-border-color-scissors;
    box-shadow: $chip-box-shadow-scissors;
  }
}
