@use "../abstracts" as *;

.site-header {
  color: $site-header-color;
  background-color: $site-header-background-color;
  padding: $site-header-padding;
  border: 1px solid $color-neutral-400;
  border-radius: $border-radius-2;
  align-self: start;

  &__inner {
    display: flex;
    gap: $size-4;
    align-items: $site-header-alignment;
    justify-content: $site-header-jusitifcation-small-screens;

    @include mq(medium) {
      justify-content: $site-header-jusitifcation-large-screens;
    }

    
    .logo {
      max-height: $size-10;
    }

    .scoreboard {
      border-radius: 0.25rem;
      background: linear-gradient(#f3f3f3, #ffffff);
      padding: 10px 22px;

      @include mq(medium) {
        border-radius: $border-radius-1;
      }
    }
  }
}
