// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-black: hsl(0 0% 0%);
$-clr-scissors-left: hsl(39, 89%, 49%);
$-clr-scissors-right: hsl(40, 84%, 53%);
$-clr-paper-left: hsl(230, 89%, 62%);
$-clr-paper-right: hsl(230, 89%, 65%);
$-clr-rock-left: hsl(349, 71%, 52%);
$-clr-rock-right: hsl(349, 70%, 56%);
$-clr-text-dark: hsl(229, 25%, 31%);
$-clr-text-score: hsl(229, 64%, 46%);
$-clr-header-outline: hsl(217, 16%, 45%);
$-clr-background-left: hsl(214, 47%, 23%);
$-clr-background-right: hsl(237, 49%, 15%);

$light: (
  "neutral": (
    "000": $-clr-white,
    "400": $-clr-header-outline,
    "700": $-clr-text-dark,
    "800": $-clr-background-left,
    "900": $-clr-background-right,
    "1000": $-clr-black,
  ),
  "accent": (
    "100": $-clr-text-score,
  ),
  "primary": (
    "100": $-clr-scissors-left,
    "150": $-clr-scissors-right,
    "200": $-clr-paper-left,
    "250": $-clr-paper-right,
    "300": $-clr-rock-left,
    "350": $-clr-rock-right,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-400: var(--neutral-400);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-1000: var(--neutral-1000);

$color-primary-100: var(--primary-100);
$color-primary-150: var(--primary-150);
$color-primary-200: var(--primary-200);
$color-primary-250: var(--primary-250);
$color-primary-300: var(--primary-300);
$color-primary-350: var(--primary-350);

$color-accent-100: var(--accent-100);
