$-ff-sans: "Barlow Semi Condensed", sans-serif;

$font-family-base: $-ff-sans;
$font-family-accent: $-ff-sans;

$font-sizes: (
  "small": (
    "1000": 2.5rem,
    "900": 3.5rem,
    "800": 2rem,
    "600": 0.938rem,
    "400": 1rem,
    "300": 0.625rem,
  ),
  "large": (
    "1000": 4rem,
    "900": 3.5rem,
    "800": 2rem,
    "600": 1.5rem,
    "400": 1rem,
    "300": 1rem,
  ),
);

$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-600: var(--fs-600);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);
$font-size-1000: var(--fs-1000);

$-fw-600: 600;
$-fw-700: 700;

$font-weight-default: $-fw-600;
$font-weight-bold: $-fw-700;
